<ion-view title="Welcome">
    <ion-content>
         <div class="row row-center" >
        <div class="col text-center" >
        <img src="https://www.askideas.com/media/13/Welcome-Header-Image.jpg">
        </div>
      </div>
            <div class="padding-left padding-right">
              <button class="button button-block  padding-horizontal" ng_click="speech()" type="submit">TEXT TO SPEECH</button>
	<button class="button button-block padding-horizontal" ng_click="scanBarcode()" type="submit">BAR CODE SCANNING</button>
            </div>

    </ion-content>
</ion-view>
